In [1]:
%matplotlib inline
import sys
sys.path.append('..')
import tables as tb
import h5py
import numpy as np
import pandas as pd
from datetime import datetime
import scipy.sparse as sp
import matplotlib.pyplot as plt
import sqlite3 as lite
from modules.tbmodels import DateMapper, Minute

### 일별 OHLC 변환하여 TDOP (Trade Density Over Price) 만들기

In [6]:
filters = tb.Filters(complib='blosc', complevel=9)
raw_data = h5py.File('../data/raw data/daily_futures.h5', mode='r')

In [28]:
tdob = tb.open_file('../data/etc/tdop.hdf5', mode='a', filters=filters)

In [8]:
#종목정보 불러오기
con = lite.connect('../data/db.sqlite3')
products = pd.read_sql('select * from trading_product', con)
products.set_index(['group'], drop=False, inplace=True)
products = products.to_dict(orient='index')

In [29]:
for cnt, file in enumerate(raw_data.values()):
    #if cnt == 2:
    #    break
    
    code = file.attrs['symbol']
    name = file.attrs['name']
    source = file.value[:,[0,2,3,5]] #date,high,low,volume
    
    if code == 'None':
        continue
    
    print('\r %s (%s/%s)'%(name,cnt,len(raw_data)), end='', flush=True)

    #pytables cursor
    group = tdob.create_group('/', code, name)
    datemapper = tdob.create_table(group, 'DateMapper', DateMapper)
    minute = tdob.create_table(group, 'Minute', Minute)
    
    data = []
    dates = []

    #환경변수
    tick_unit = products[code]['tick_unit']
    digit = products[code]['decimal_places']
    
    #pandas dataframe
    #df = pd.DataFrame(group.Daily.read()).sort_values('date', ascending=True)
    
    for date, high, low, volume in source:
        idx = len(dates) #datemapper
        #date, high, low, volume = datum
        
        if round(low, digit) == round(high, digit):
            item = (idx, round(low, digit), volume)
            dateitem = (date, idx)
            data.append(item)
            dates.append(dateitem)
        
        else:
            length = (high - low)/tick_unit + 1
            length = np.rint(length)
            value = volume/length
            
            if np.isinf(value) or (value < 0.1): #inf 또는 틱탕 너무 작은 value 버림
                #print("wrong volume", row.volume, length, name, str(row.date.astype('M8[s]').astype('M8[D]')))
                continue
            else:
                dateitem = (date, idx)
                dates.append(dateitem)
                for price in np.arange(round(low, digit), high-tick_unit/2, tick_unit):
                    item = (idx, price, value)
                    data.append(item)
    if dates:
        datemapper.append(dates)
        minute.append(data)
        minute.flush()
        datemapper.flush()
print("\nEverythin fin.")

 ICE WTI Crude Oil (61/75)5)44/75)/75)
Everythin fin.

### Verification

In [36]:
# 중복데이터 체크
from collections import Counter

for grp in tdob.iter_nodes('/'):
    item = grp.DateMapper.cols.date[:]
    dup = [item for item, count in Counter(item).items() if count > 1]
    if dup:
        print(grp._v_title, " has duplicated data")
print('done')

done