In [1]:
%matplotlib inline
import sys
#sys.path.append('..')
import tables as tb
import numpy as np
import pandas as pd
from datetime import datetime
import scipy.sparse as sp
import matplotlib.pyplot as plt
import sqlite3 as lite
from modules.tbmodels import DateMapper, Minute

ModuleNotFoundError: No module named 'modules'

### 일별 OHLC 변환하여 TDOP (Trade Density Over Price) 만들기

In [107]:
db = tb.open_file('data/market.hdf5', mode='a')

In [108]:
#종목정보 불러오기
con = lite.connect('data/db.sqlite3')
products = pd.read_sql('select * from trading_product', con)
products.set_index(['group'], drop=False, inplace=True)
products = products.to_dict(orient='index')

In [112]:
#테이블 삭제후 생성
for group in db.iter_nodes('/'):
    #group.DateMapper.remove()
    #group.Minute.remove()
    db.create_table(group, 'DateMapper', DateMapper)
    db.create_table(group, 'Minute', Minute)

In [122]:
for group in db.iter_nodes('/'):
    grpname = group._v_name
    name = group._v_title
    #print(group._v_name)

    data = []
    dates = []
    #db cursors
    datecur = group.DateMapper 
    minute = group.Minute
        
    #환경변수
    tick_unit = products[grpname]['tick_unit']
    digit = products[grpname]['decimal_places']
        
    #pandas dataframe
    df = pd.DataFrame(group.Daily.read()).sort_values('date', ascending=True)
    
    for row in df.itertuples():
        idx = len(dates) #datemapper
        
        if round(row.low, digit) == round(row.high, digit):
            item = (idx, round(row.low, digit), row.volume)
            dateitem = (row.date, idx)
            data.append(item)
            dates.append(dateitem)
        
        else:
            length = (row.high - row.low)/tick_unit + 1
            length = np.rint(length)
            value = row.volume/length
            
            if np.isinf(value) or (value < 0.1): #inf 또는 틱탕 너무 작은 value 버림
                #print("wrong volume", row.volume, length, name, str(row.date.astype('M8[s]').astype('M8[D]')))
                continue
            else:
                dateitem = (row.date, idx)
                dates.append(dateitem)
                for price in np.arange(round(row.low, digit), row.high-tick_unit/2, tick_unit):
                    item = (idx, price, value)
                    data.append(item)
    if dates:
        datecur.append(dates)
        minute.append(data)
        minute.flush()
        datecur.flush()
print("Everythin fin.")

Everythin fin.

### Verification

In [118]:
# 중복데이터 체크
from collections import Counter

for grp in db.iter_nodes('/'):
    item = grp.DateMapper.cols.date[:]
    dup = [item for item, count in Counter(df2).items() if count > 1]
    if dup:
        print(grp._v_title, " has duplicated data")